body {
    background-color: #e3c96c;
}

h1 {
    position: relative;
    left: 700px;
    top: 300px;
    border: 1px solid black;
    padding: 100px;
    width: fit-content;
    background-color: #94acc8;
    box-shadow: 0px 0px 20px #f3f2dc;
    border-radius: 10px;
}